/*===================================================
 _vacancy-search.scss
 空室検索
================================================== */
@use "../config/function" as *;
@use "../config/variables" as *;
@use "../config/font" as *;
@use "../config/mq" as *;

/* ==================================================
 空室検索
================================================== */
.search-heading {
  text-align: center;
  color: $c_white;
  font-size: $font_h3;
  font-weight: 600;
  letter-spacing: 0.5em;
  margin-bottom: 24px;

  @include mq(sp) {
    padding: 0 16px;
  }
}

.vacancy-search {
  &__menu {
    display: flex;
    justify-content: center;
    gap: 0 48px;
    margin-bottom: 24px;
    font-size: $font_medium;
  }
}
