/*===================================================
 _hot-spring.scss
 「温泉」のデザイン定義
================================================== */
@use "../config/function" as *;
@use "../config/variables" as *;
@use "../config/mq" as *;
@use "../config/font" as *;
@use "../mixin/mixin" as *;

/* --------------------------------------------------
 hot-spring_slide サムネイルスライドショーの設定
-------------------------------------------------- */
.hot-spring {

  .page-section__info {
    @include mq(tab) {
      width: 100%;
    }
  }

  &__figure img{
    width: 100%;

  }

  .desc-contents {
    margin-bottom: 48px;

    &--hot-spring {
      padding: 16px;

      @include mq(tab) {
        padding: 16px 0 0;
        margin-bottom: 0;
      }
    }
  }

}

.other {
  & .page-section__col {
    align-items: flex-start;
  }
}