/*===================================================
 _variables.scss
 共通使用変数 定義ファイル
================================================== */
@use "../config/function" as *;
/* --------------------------------------------------
 セクション背景
-------------------------------------------------- */
$background_gray: #f1edea;

/* --------------------------------------------------
 Site-color サイトカラー
-------------------------------------------------- */ 
$c_base: #F7F7F7;
$c_main: #453B33;
$c_accent: #536B4E;
$c_note: #EA4C4C;

/* --------------------------------------------------
 White/Black-color 白/黒
-------------------------------------------------- */ 
$c_white: #FAFAFA;
$c_black: #30312D;
$c_gray: #F0F0F0;

/* --------------------------------------------------
 Button-color ボタン
-------------------------------------------------- */ 
$c_btn: #391204;
$c_btn-hover: #6D865E;
$c_btn-gray: #F0F0F0;
$c_btn-disabled: #C7C7C7;
$c_secondary-btn_hover: #e5e5e5;
$c_btn-opacity: rgba(69, 51, 51, 0.8);

/* --------------------------------------------------
 Calendar-color カレンダー
-------------------------------------------------- */ 
$c_calendar-sunday: #CB2B2B;
$c_calendar-saturday: #5881C7;
$c_calendar-no_active: #D3D3D3;

/* --------------------------------------------------
 border-color 線
-------------------------------------------------- */ 
$c_border: #C4C4C4;

/* --------------------------------------------------
 opacity
-------------------------------------------------- */ 
$opacity: rgba(49, 49, 49, 0.4);

/* --------------------------------------------------
 header
-------------------------------------------------- */
$fixed-header_bg: rgba(69, 51, 51, 0.95);

/* --------------------------------------------------
 footer
-------------------------------------------------- */
$footer_bg: #EDEDED; 

/* --------------------------------------------------
 shadow 影
-------------------------------------------------- */ 
$drop-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);

/* --------------------------------------------------
 フォームtd背景
-------------------------------------------------- */ 
